# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
.env/
venv/
env/

# Environment variables
.env
.env.*

# Streamlit secrets (important!)
.streamlit/secrets.toml

# VS Code / Editor
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Build files
dist/
build/

# Jupyter (if used)
.ipynb_checkpoints/

stream_project/